doctype html
html
  head
    meta(charset='utf-8')
    title Summer Breeze | Home 
    link(rel='stylesheet', href='https://unpkg.com/flickity@2/dist/flickity.min.css')
    link(rel='stylesheet', type='text/css', href='css/build/main.css')
    title Summer Breeze
  body
    header.hero
      nav
        #navLeft
          .icon
            a(href='/availibility') Rates & Availibility
          .icon
            a(href='/amenities') Amenities
        #navRight
          .icon
            a(href='/toDo') To Do
          .icon 
            a(href='/toDo') About
      a(href='/')
        #logo