/*-----------------------------------------------
*   Fonts
-----------------------------------------------*/
@font-face {
  font-family: "Champagne & Limousines";
  src: url("../../fonts/Champagne & Limousines.ttf");
}

/*-----------------------------------------------
*    Vendor - Default fall-backs and external files
-----------------------------------------------*/
@import "_normalize.scss";
@import "_mixins.scss";

/*-----------------------------------------------
*   Base
-----------------------------------------------*/

$beige: #ebe2d7;
$light-brown : #ddcebb;
$light-green: #aacec4;
$site-font: "Champagne & Limousines" !important;

html {
  box-sizing: border-box;
  font-family: $site-font, "Helvetica", sans-serif;
}

* {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  color: #FFFFFF !important;
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

/*-----------------------------------------------
*   Hero Landing Page
-----------------------------------------------*/
.hero {
  height: 750px;
  position: relative;
}

.gallery {
  width: 100%;
  height: 750px;

  div {
    height: 100%;
    img {
      background-repeat: no-repeat;
      height: 100%;
    }
  }
}

#logo {
  background-image: url("../../img/summer_breeze_logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height:330px;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 36%;
  width:330px;
  z-index: 1;
}


/*-----------------------------------------------
*   Navbar
-----------------------------------------------*/

nav {
  background-color: $light-green;
  box-sizing: border-box;
  opacity: .95;
  display: flex;
  height: 140px;
  justify-content: space-between;
  padding:40px 20px 0 30px;
  position:absolute;
  width: 100%;
  z-index: 1;
  a {
    color: #FFFFFF !important;
    border-bottom: 2px solid
    rgba(255,255,255, 0);
    -webkit-transition: border 500ms ease;
    -moz-transition: border 500ms ease;
    -ms-transition: border 500ms ease;
    -o-transition: border 500ms ease;
    transition: border 500ms ease;
  }
  a:hover {
      border-bottom: 2px solid
      rgba(255,255,255, 1);
  }
  #navLeft {
    display: flex;
    width: 60%;
  }
  #navRight {
    display: flex;
    width:30%;
  }
  .icon {
    box-sizing: inherit;
    color: #FFFFFF;
    font-family: "Champagne & Limousines", "Avenir", "Helvetica";
    font-size:22px;
    padding-top: 28px;
    text-align: center;
    width:157px;
  }
}


/*-----------------------------------------------
*   Booking/Availability Link
-----------------------------------------------*/
@keyframes float {
  0% {
  bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0;
  }
}

#checkAvailibility {
  animation: float 2s 0s infinite ease-in-out;
  background-image: url("../../img/check_availibility_logo.png");
  background-repeat: no-repeat;
  background-size:100%;
  display: block;
  height: 250px;
  margin: 0 auto;
  position: absolute;
  left: 40%;
  width: 250px;
}

/*-----------------------------------------------
*   Hero Accomidations
-----------------------------------------------*/

#acc-hero {
  background-image: url("../../img/dune-walkover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}


/*-----------------------------------------------
*   About Us
-----------------------------------------------*/
#aboutUs {
  box-sizing: border-box;
  background-image: url("../../img/dune_34 copy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 40px;
  #sb-Info {
    color: #FFFFFF;
    box-sizing: border-box;
    font-family: $site-font;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    width: 960px;
    h2 {
      font-size: 1.8em;
    }
    h3 {
      font-size: 1.3em;
    }
  }
}

/*-----------------------------------------------
*   Landing Page Sections
-----------------------------------------------*/
.container {
  display: flex;
  height:270px;
}

#stay {
  background-color: $light-brown;
  font-size: 100px;
  padding:30px;
  width: 40%;
  #staySquare {
    border: 4px solid #000000;
    display: flex;
    height: 200px;
    margin: 0 auto;
    width: 100%;
    img {
      box-sizing: content-box;
      display: inline-block;
      height:60px;
      margin: 0 auto;
      padding-top:65px;
      width:350px;
    }
  }
}

#gazebo {
  background-color: $beige;
  padding: 20px;
  width: 65%;
  img {
    display: flex;
    height: 220px;
    margin: 0 auto;
    width: 100%;
  }
}
#circle-container {
  align-content: flex-start;
  display: flex;
  height: 400px;
  flex-flow: row wrap;
  padding-top: 50px;
  justify-content: center;
  -webkit-flex-flow: row wrap;
  .circle {
    border: 8px solid $light-green;
    border-radius: 1000px;
    border-spacing:10px;
    height: 250px;
    margin: 2.5em;
    width: 250px;
  }
  .weddingPhoto {
    background-image: url("../../img/Wedding.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .toDoCircle {
    background-image: url("../../img/to_do.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:205%;
    border: none;
  }
  .poolsidePhoto {
    background-image: url("../../img/poolside_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
}

#testimonials {
  background-image: url("../../img/lake-carillon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 550px;
  padding: 50px 50px 50px 50px;
  #testimonialLogo {
    background-image: url("../../img/testimonials.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    margin: 0 auto;
    width: 750px;
  }
  p {
    color: #FFFFFF;
    font-family:$site-font, "Avenir", "Helvetica";
    font-size: 20px;
    line-height: 1.5em;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: justify;
    width: 500px;
  }
  a {
    display:block;
  }
  #moreReviews {
    background-image: url("../../img/more_reviews.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 175px;
    margin: 0 auto;
    width: 200px;
  }
}

#contactUs {
  height: 500px;
  padding-top: 20px;
  #contactLogo {
    background-image: url("../../img/contact_us.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 730px;
  }
  #form-wrapper {
    border: 2px solid $light-brown;
    box-sizing: border-box;
    height: 350px;
    margin: 0 auto;
    padding: 10px 0px 0px 60px;
    width: 800px;
    #question {
      color: #000000;
      box-sizing: border-box;
      border-radius: 20px;
      background-color: $light-brown;
      font-family: $site-font;
      height: 100px;
      margin: 0 auto;
      margin-bottom: 15px;
      padding: 5px 20px 0px 20px;
      position: relative;
      right: 40px;
      text-align: center;
      width: 90%;
      h2, h4 {
        margin: 8px 10px;;
      }
    }
  }
  #contactInfo {
    font-family: $site-font;
    border: none;
    float: left;
    padding: 0px;
    width: 650px;
    form {
      height: auto;
      margin: 0 auto;
      width: auto;
    }
    input[type=submit] {
      color: #000000;
      background:$light-brown;
      border:0 none;
      cursor:pointer;
      height: 40px;
      font-family: $site-font;
      font-size: 1.3em;
      padding:0px;
      width: 100%;
    }
    #formLeft {
      box-sizing: border-box;
      float: left;
      width: 40%;
    }
    #formRight {
      box-sizing: border-box;
      float: right;
      width: 58%;
      #message{
        margin-bottom: 2px;
      }
    }
    .userInfo {
      color: #000000;
      border: .5px solid #000000;
      font-family: "Helvetica";
      font-size: 1em;
      margin-bottom: 10px;
      padding-left: 5px;
      height: 25px;
      width: 250px;
    }
  }
  #messageField {
    color: #000000;
    border: .5px solid #000000;
    font-family: "Helvetica";
    font-size: 1em;
    float: right;
    height: 105px;
    margin-bottom: 8px;
    resize: none;
    width: 100%;
  }

  label {
    display: block;
    color: #000000;
    position:relative;
    font-family: $site-font;
    font-size: 1.1em;
    position: relative;
    width:50px;
  }
}


/*-----------------------------------------------
*   Hero Amenities
-----------------------------------------------*/
#amenities-hero {
  background-image: url("../../img/master_bed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

}
/*-----------------------------------------------
*   fullCalendar styles
-----------------------------------------------*/
#calendarWrapper {
  box-sizing: border-box;
  float: left;
  padding-top: 50px;
  padding-left: 30px;
  height: 600px;
  width:60%;
  #calendar {
    width: 100%;
  }
  .override-font-color {
    color: #000000;
  }
}

/*-----------------------------------------------
*   Rates & Amenities
-----------------------------------------------*/
#rates-calendar-wrapper {
  height: 1200px;
  #tableWrapper {
    box-sizing: border-box;
    height: 610px;
    float: right;
    padding-top: 100px;
    width: 40%;
    table {
      color: #000000;
      font-family: $site-font;
      margin: 0 auto;
      width: 80%;
    }
    th {
      border: 1px solid #000000;
      font-size: 2em;
      height: 100px;
      text-align: center;
    }
    td {
      border: 1px solid #000000;
      font-size: 1.4em;
      height: 100px;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: $beige;
    }
  }
  #additionalInfo {
    color: #000000;
    background-color: $beige;
    border:10px solid $light-brown;
    font-family: $site-font;
    float:left;
    margin-left: 30px;
    padding: 20px;
    height: auto;
    width: 600px;
    h3 {
      text-decoration : underline;
    }
    ul {
      list-style: none;
      font-size: 1.3em;
    }
    li:before {
      content: "-";
    }
  }
  #estimator-wrapper {
    color: #000000;
    border: 10px solid $light-green;
    float: right;
    font-family: $site-font;
    height: 500px;
    margin-right: 40px;
    text-align: center;
    width: 400px;
    label, p {
      text-decoration: underline;
      font-size: 1.3em;
    }
    h3 {
      text-decoration : underline;
    }
    #weekNumber {
      width: 50px;
    }
    select {
      height: 30px;
      text-align: center;
      text-align-last: center;
      width:200px;
      text-align: -webkit-center;
    }
  }
  .odometer {
    font-size: 40px;
    color: #000000;
  }
  .odometer .odometer-inside:before {
    content: "$";
    display: inline-block;
    vertical-align: sup;
    font-size: .85em;
    margin-right: .12em
  }
  //Safari Animation -Webkit Fixes
  .odometer-ribbon-inner {
    -webkit-backface-visibility: visible !important;
  }
  .odometer-value {
    -webkit-transform: none !important;
  }
}

/*-----------------------------------------------
*   Book Your Trip Section
-----------------------------------------------*/

#bookYourTrip {
  background-image:url("../../img/carillon-overhead-2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:500px;
  padding-top: 20px;
  width: 100%;
  #bookText {
    background-image:url("../../img/book_your_trip.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    height: 100px;
    width:60%;
  }
  #bookingForms {
    margin: 0 auto;
    height: auto;
    width: 20%;
  }
  #bookingFields {
    font-family: $site-font;
    height: auto;
    margin-bottom:10px;
  }
  label, input, textarea {
    display: block;
    width: 100%;
  }
  label {
    float: left;
    font-size: 1.2em;
    margin-top: 10px;
  }
  label:hover {
    text-decoration: none;
    color: #FFFFFF;
  }
  input {
    color: #000000 !important;
    font-size: 1.2em;
    height: 30px;
    padding-left: 5px;
  }
  input[type=submit] {
    font-family: $site-font;
    font-size: 1.3em;
    height: 40px;
    background-color: $light-green;
    color: #FFFFFF;
  }
}
.errors {
  background-color: $beige;
  border: solid 1px red;
  float: right;
  position: relative;
  top: -300px;
  right: 340px;
  height: 300px;
  width: 280px;
}
.flash {
  background: white;
  color: black;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  display: -ms-flexbox;
  display: flex;
  animation: slideIn forwards .1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
}


/*-----------------------------------------------
*   Accomidations Sections
-----------------------------------------------*/
#acc-gallery-wrapper {
  height:500px;
  padding: 0 100px 0 100px;
  text-align: center;
  hr {
    border: .5px solid black;
    margin: 10px 0px 20px;
  }
  #accomidationsLogo {
    background-image: url("../../img/accomidations.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 750px;
  }
  h2 {
    font-family: $site-font;
    font-size: 1.6em;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  #details {
    display: flex;
    margin: 0 auto;
    margin-bottom: 0px;
    height: auto;
    width: 90%;
    .amenityDetails {
      background-color: white;
      height:160px;
      width:200px;
      text-align: center;
      .amenityIcon {
        margin: 0 auto;
        max-height:50px;
        max-width: 50px;
        padding-top: 50px;
      .amenityText {
        margin: 0 auto;
        font-family: $site-font;
        font-size: 1.1em;
        text-align: center;
        width: 100%;
        p {
          font-size: 1.1em;
          margin: 5px;
        }
        p:last-child {
          margin: 0 auto;
          font-size: 2.0em;
        }
      }
    }
      #amenityIcon0 {
        background-image:url("../../img/house.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
      #amenityIcon1 {
        background-image:url("../../img/people.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
      #amenityIcon2 {
        background-image:url("../../img/bed.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
      #amenityIcon3 {
        background-image:url("../../img/bathroom.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
      #amenityIcon4 {
        background-image:url("../../img/sleep.png");
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
  #lightGallery a {
    margin: 0px 5px 10px;
  }
  .thumb {
    max-height: 150px;
  }
}


/*-----------------------------------------------
*   Landing Page Footer
-----------------------------------------------*/
footer {
  background-color: $light-green;
  height:120px;
}
