/*-----------------------------------------------
*   Fonts
-----------------------------------------------*/
@font-face {
  font-family: "Champagne & Limousines";
  src: url("../../fonts/Champagne & Limousines.ttf");
}

/*-----------------------------------------------
*    Vendor - Default fall-backs and external files
-----------------------------------------------*/
@import "_normalize.scss";
@import "_mixins.scss";

/*-----------------------------------------------
*   Base
-----------------------------------------------*/
$beige: #ebe2d7;
$light-brown : #ddcebb;
$light-green: #aacec4;

body {
  margin: 0px;
  padding: 0px;
}

/*-----------------------------------------------
*   Hero Landing Page
-----------------------------------------------*/
.hero {
  height: 750px;
  position: relative;
}

.gallery {
  width: 100%;
  height: 750px;

  div {
    height: 100%;
    img {
      background-repeat: no-repeat;
      height: 100%;
    }
  }
}

#logo {
  background-image: url("../../img/summer_breeze_logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height:330px;
  margin: 0 auto;
  position: absolute;
  top: 60px;
  left: 36%;
  width:330px;
  z-index: 1;
}


/*-----------------------------------------------
*   Navbar
-----------------------------------------------*/

nav{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding:60px 20px 0 30px;
  position:absolute;
  width: 100%;
  z-index: 1;
  #navLeft {
    display: flex;
    width: 60%;
  }
  #navRight {
    display: flex;
    width:30%;
  }
  .icon {
    box-sizing: inherit;
    color: white;
    font-family: "Champagne & Limousines", "Avenir", "Helvetica";
    font-size:22px;
    padding-top: 28px;
    text-align: center;
    width:157px;
  }
}


/*-----------------------------------------------
*   Booking/Availability Link
-----------------------------------------------*/
@keyframes float {
  0% {
  bottom: 0;
  }
  50% {
    bottom: 15px;
  }
  100% {
    bottom: 0;
  }
}

#checkAvailibility {
  animation: float 2s 0s infinite ease-in-out;
  background-image: url("../../img/check_availibility_logo.png");
  background-repeat: no-repeat;
  background-size:100%;
  display: block;
  height: 250px;
  margin:0 auto;
  position: absolute;
  left: 40%;
  width: 250px;
}

/*-----------------------------------------------
*   Hero Accomidations
-----------------------------------------------*/

#acc-hero {
  background-image: url("../../img/beach-sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 45px;
  height: 500px;
}

/*-----------------------------------------------
*   About Us
-----------------------------------------------*/
#aboutUs {
  box-sizing: border-box;
  background-image: url("../../img/dune_34 copy.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  padding-top: 55px;
  #sb-Info {
    color: white;
    box-sizing: border-box;
    font-family: "Champagne & Limousines";
    font-size: 1.125em;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    width: 960px;
  }
}

/*-----------------------------------------------
*   Landing Page Sections
-----------------------------------------------*/
.container {
  display: flex;
  height:270px;
}

#stay {
  background-color: $light-brown;
  font-size: 100px;
  padding:30px;
  width: 40%;

  #staySquare {
    border: 4px solid black;
    display: flex;
    height: 200px;
    margin: 0 auto;
    width: 100%;

    img {
      display: inline-block;
      height:60px;
      margin: 0 auto;
      padding-top:65px;
      width:350px;
    }
  }
}

#gazebo {
  background-color: $beige;
  padding: 20px;
  width: 55%;

  img {
    display: flex;
    height: 220px;
    margin: 0 auto;
    width: 100%;
  }
}
#circle-container {
  align-content: flex-start;
  display: flex;
  height: 400px;
  flex-flow: row wrap;
  padding-top: 50px;
  justify-content: center;
  -webkit-flex-flow: row wrap;

  .circle {
    border: 8px solid $light-green;
    border-radius: 1000px;
    border-spacing:10px;
    height: 250px;
    margin: 2.5em;
    width: 250px;
  }
  .weddingPhoto {
    background-image: url("../../img/Wedding.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .toDoCircle {
    background-image: url("../../img/to_do.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size:205%;
    border: none;
  }
  .poolsidePhoto {
    background-image: url("../../img/poolside_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
}

#testimonials {
  background-image: url("../../img/lake-carillon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 500px;
  padding: 50px 50px 50px 50px;
  #testimonialLogo {
    background-image: url("../../img/testimonials.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    margin: 0 auto;
    width: 750px;
  }
  p {
    color: white;
    font-family:"Champagne & Limousines", "Avenir", "Helvetica";
    font-size: 20px;
    line-height: 1.5em;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: justify;
    width: 500px;
  }
  a {
    display:block;
  }
  #moreReviews {
    background-image: url("../../img/more_reviews.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 175px;
    margin: 0 auto;
    width: 200px;
  }
}

#contactUs {
  height: 500px;
  padding-top: 20px;
  #contactLogo {
    background-image: url("../../img/contact_us.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 730px;
  }
  #form-wrapper {
    border: 2px solid $light-brown;
    box-sizing: border-box;
    height: 380px;
    margin: 0 auto;
    padding: 10px 0px 0px 60px;
    width: 800px;
    #question {
      box-sizing: border-box;
      border-radius: 20px;
      background-color: $light-brown;
      font-family: "Champagne & Limousines";
      height: 100px;
      margin: 0 auto;
      margin-bottom: 15px;
      padding: 5px 20px 0px 20px;
      position: relative;
      right: 40px;
      text-align: center;
      width: 90%;
      h2, p {
        margin: 8px 10px;;
      }
    }
  }
  #contactInfo{
    border: none;
    float: left;
    padding: 0px;
    width: 650px;
    form {
      height: auto;
      margin: 0 auto;
      width: auto;
    }
    input[type=submit] {
      background:$light-brown;
      border:0 none;
      cursor:pointer;
      height: 40px;
      font-family: "Champagne & Limousines";
      font-size: 1.3em;
      right: 5px;
      position: relative;
      padding:0px;
      width: 100%;
    }
    #formLeft {
      box-sizing: border-box;
      float: left;
      width: 40%;
    }
    #formRight {
      box-sizing: border-box;
      float: right;
      width: 58%;
      #message{
        margin-bottom: 2px;
      }
    }
    .userInfo {
      border: .5px solid black;
      font-family: "Helvetica";
      font-size: 1em;
      margin-bottom: 8px;
      padding-left: 5px;
      height: 25px;
      width: 250px;
    }
  }
  #messageField {
    border: .5px solid black;
    font-family: "Helvetica";
    font-size: 1em;
    float: right;
    height: 80px;
    margin-bottom: 8px;
    resize: none;
    width: 100%;
  }

  label {
    display: block;
    position:relative;
    font-family: "Champagne & Limousines";
    position: relative;
    width:50px;
  }
}
/*-----------------------------------------------
*   fullCalendar styles
-----------------------------------------------*/
#calendarWrapper{
  box-sizing: border-box;
  float: left;
  padding-top: 50px;
  padding-left: 30px;
  height: 800px;
  width:60%;
  #calendar {
    width: 100%;
  }
}

/*-----------------------------------------------
*   Rates & Amenities
-----------------------------------------------*/
#rates-calendar-wrapper {
  height: 700px;
  #tableWrapper {
    box-sizing: border-box;
    height: 650px;
    float: right;
    padding-top: 100px;
    width: 40%;
    table {
      font-family: "Champagne & Limousines";
      margin: 0 auto;
      width: 80%;
    }
    td, th {
      border: 1px solid black;
      font-size: 1.4em;
      height: 100px;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: $beige;
    }
  }
}


/*-----------------------------------------------
*   Accomidations Sections
-----------------------------------------------*/
#acc-gallery-wrapper {
  height:500px;
  padding: 0 100px 0 100px;
  text-align: center;
  #accomidationsLogo {
    background-image:url("../../img/accomidations.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 150px;
    margin: 0 auto;
    width: 750px;
  }
  .thumb {
    max-height: 150px;
  }
}


/*-----------------------------------------------
*   Landing Page Footer
-----------------------------------------------*/
footer{
  background-color: $light-green;
  height:120px;
}
