<!DOCTYPE html>
<html>
<head>
<title>Summer Breeze | Availibility </title>
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/3/yeti/bootstrap.min.css">
<link rel='stylesheet' href='js/libs/fullcalendar.css'>
<link rel='stylesheet' href='js/libs/angular-stepper.min.css'>
<link rel="stylesheet" type="text/css" href="css/build/main.css">
</head>
<body>
  <header id = "acc-hero">
    <nav>
      <div id = "navLeft">
        <div class="icon"> <a href = "/availibility">Rates & Availability</a></div>
        <div class="icon"> <a href = "/amenities">Amenities</a></div>
      </div>
      <div id = "navRight">
        <div class="icon">To Do</div>
        <div class="icon">About </div>
      </div>
    </nav>
    <a href = "/index.html"><div id = "logo"></div><a>
  </header>
<section id = "rates-calendar-wrapper">
<div id = "calendarWrapper">
  <div id= "calendar" class = "override-font-color"></div>
</div>
<div id = "tableWrapper">
  <table>
  <tr>
    <th><b>Rates<b></th>
    <th><b>Weekly<b></th>
  </tr>
  <tr>
    <td>
    <b>Fall/Winter<b>
    <br>
    Oct 23 - Mar 3, 2018
    <br>
    4 night min stay
    </td>
    <td><b>$2,100<b></td>
  </tr>
  <tr>
    <td>
    <b>Spring 2018</b>
    <br>
    Mar 4 - May 12, 2018
    <br>
    4 night min stay
    </td>
    <td><b>$2,900<b></td>
  </tr>
  <tr>
    <td>
    <b>Summer 2018</b>
    <br>
    May 13 - Aug 11, 2018
    <br>
    7 night min stay
    </td>
    <td><b>$3,995<b></td>
  </tr>
</table>
</div>
<div id = "additionalInfo">
  <h3>Additional information about rental rates</h3>
  <h3>Fees:</h3>
    <ul>
      <li> Refundable damage deposit: $500</li>
      <li> Cleaning Fee: $245 </li>
      <li> Tax rate: 11.5% <li>
    </ul>
  <h3> Additional Notes </h3>
  <ul>
    <li> Complementary beach chairs with an umbrella for two will be set up for you every day adjacent to Dune Walkover #7 between March 1 and September 30.</li>
    <li> Must be 30 years old to rent.</li>
    <li> Rates are based on a weekly rate that run Saturday through Saturday.</li>
    <li> Check in time : 4pm </li>
    <li> Check out time : 10am </li>
  </ul>
</div>
<div id= "estimator-wrapper" ng-app="priceEstimator">
    <h3> Price Estimator</h3>
    <h4> (with fees):</h4>
    <div ng-controller="weekStepper">
      <div ng-controller="dayStepper" >
        <div ng-controller="seasonSelector">
          <h2> {{ dayRates[0].value }} </h2>
          <h2> ${{ (seasonsList.weekRate * weeks) + (seasonsList.dayRate * day) }} </h2>
          <p> Select a season:</p>
          <select ng-model="seasonsList" ng-options="season as season.label for season in seasons"></select>
        </div>
        <label>Number of weeks:</label>
          <div min="minWeeks" max="maxWeeks" ng-model="weeks" rn-stepper></div>
        <label>Number of days:</label>
          <div min="minDay" max="maxDay" ng-model="day" rn-stepper></div>
      </div>
  </div>
</section>
<footer>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src='js/libs/angular-stepper.min.js'></script>
<script src='js/libs/lib/jquery.min.js'></script>
<script src='js/libs/lib/moment.min.js'></script>
<script src='js/libs/fullcalendar.js'></script>
<script src='js/angularEstimator.js'></script>
<script>
  $(document).ready(function() {
      $('#calendar').fullCalendar({
        themeSystem: 'bootstrap3',
        header: {
          left: 'prev,next today myCustomButton',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
          },
          textColor: '#FFF'
      })
  });
</script>
</body>
</html>
